.color-black {
    color: $black;
}
.bg-black {
    background: $black;
}
.color-grey {
    color: $grey;
}
.color-dark-grey {
    color: $dark-grey;
}
.bg-grey {
    background: $grey;
}
.color-light {
    color: $light;
}
.bg-light {
    background: $light;
}
.color-dark {
    color: $dark;
}
.bg-dark {
    background: $dark;
}
.color-primary {
    color: $primary;
}
.bg-primary {
    background: $primary !important;
}
.color-success {
    color: $success;
}
.bg-success {
    background: $success;
}
.color-danger {
    color: $danger !important;
}
.bg-danger {
    background: $danger;
}
.color-medium {
    color: $medium;
}
.bg-medium-light {
    background: $medium-light;
}
