// COLORS
$--background-color-base: #2B3036 !default;
$--fill-body: #22262A !default;
$--table-active-row-color: #22262A !default;
$--fill-base: #1C1C21 !default;
$--fill-lighted: #31383F !default;
$--fill-lightest: #434D56 !default;
$--background-color-base: #2B3036 !default;
$--color-text-primary: #FDFDFD !default;
$--color-text-regular: #FDFDFD !default;
$--color-text-secondary: #808085 !default;
$--color-primary: #185BDE !default;
$--color-success: #45D06C !default;
$--color-warning: #FCB938 !default;
$--color-danger: #F44F47 !default;
$--color-info: #808085 !default;
$--border-color-base: #434D56 !default;
$--input-background-color: #31383F !default;
$--menu-item-font-color: #FDFDFD !default;
$--button-default-font-color: #FDFDFD !default;
$--button-primary-font-color: #FDFDFD !default;
$--disabled-fill-base: #31383F !default;
$--select-option-selected-hover: $--fill-lightest  !default;

$text-additional: #808085;
$primary: #185BDE;
$primary-hover: #0738B6;
$primary-active: #0738B6;
$primary-disabled: #6879a7;
$success: #45D06C;
$not-success: #90ecad;
$red: #F44F47;
$yellow: #FCB938;
$green: #45D06C;
$tiffany: #24F1F1;
$blue: #03AEF8;
$--color-blue: #03AEF8;
$danger: #F44F47;
$danger-hover: #ea8480;
$dark: #22262A;
$dark-strong: #181B1E;
$dark-hover: #343639;
$night: #2B3036;
$graphit: #31383F;
$grey: #434D56;
$paper: #FDFDFD;
$paper-grey: #808085;
$white: #ffffff;
$white-base: #FBFBFB;
$disabled-color: $grey;
$dark-grey: #626874;
$black: #000000;
$black-hover: #16191f;
$black-light: #5C5D5E;
$grey-sec: #F8F8F8;
$grey-hover: #313640;
$grey-disabled: #484e58;
$grey-menu: #8493B5;
$dark-grey: #626874;
$back: #292f38;
$back-hover: #2B3038;
$light: #a5acb7;
$light-hover: #6f747e;
$super-light: #00000019;
$secondary: #808080;
$secondary-hover: #525050;
$medium: #FF0000;
$medium-light: #ff2626;
$disabled-color: $grey;
$add-bg: #cacaca;
$title-color: #ffffff;
$title-color-inactive: #8493B5;
$orange: #fd7e14;
$card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 16px 40px rgba(0, 0, 0, 0.25);

// SIZES
$radius: 8px;
$speed-high: 0.1s;
$speed: 0.12s;
$speed-slow: 0.7s;
$media-l: 1400px;
$border-radius-default: 12px;
$app-header: 68px;